<section class="single_product_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="/assets/img/single_product_1.png" class="img-fluid" alt="#">
                                <img src="/assets/img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Ciders & Seltzers</h5>
                                <h2> <a href="/product/0">Shop our No Boats on Sunday summer sippers!</a> </h2>
                                <a href="/product/0" class="btn_3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="/assets/img/single_product_2.png" class="img-fluid" alt="#">
                                <img src="/assets/img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Summer Savings</h5>
                                <h2> <a href="/product/0">Enjoy these limited time offers on perfect patio wines!</a> </h2>
                                <a href="/product/0" class="btn_3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="/assets/img/single_product_3.png" class="img-fluid" alt="#">
                                <img src="/assets/img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Mixed Cases</h5>
                                <h2> <a href="/product/0">Shop curated mixed cases, chosen by our experts!</a> </h2>
                                <a href="/product/0" class="btn_3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>